@import "tailwindcss";
@font-face {
  font-family: 'monster-energy';
  src: url('./assets/Font//Green_Energy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  overflow-x: hidden;
}

@font-face {
  font-family: 'JoganSoft';
  src: url('./assets/Font//JoganSoft-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 4s linear infinite;
}


.stroke-text {
  -webkit-text-stroke: 1px #95D600;
  color: transparent; 
}









::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /* transparent glassy base */
  backdrop-filter: blur(4px);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #FFD700, #DAA520); /* gold gradient */
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 0.2); /* subtle outline */
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #f7c94b, #b8860b);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #DAA520 rgba(255, 255, 255, 0.1);
}
